@model IEnumerable<Project.MVC.ViewModels.VehicleMakeVM>

@{
    ViewBag.Title = "IndexMakes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehicle Brands</h2>

<p>
    @Html.ActionLink("Create New", "CreateMake")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MakeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MakeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditMake", new { item.MakeId }) |
            @Html.ActionLink("List Of Models", "IndexModels", new { item.MakeId }) |
            @Html.ActionLink("Delete", "DeleteMake", new { item.MakeId })
        </td>
    </tr>
}

</table>
