@model Project.MVC.ViewModels.VehicleModelVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VehicleModelVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModelId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModelId }) |
    @Html.ActionLink("Back to List", "Index", "VehicleModel", new { id = Model.MakeId }, null)
</p>